<ion-header>
  <ion-toolbar class="header1">
    <ion-buttons slot="start">
      <ion-back-button 
          defaultHref="/iniciarcomo"
          text=""
          color="primary"
          mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title class="title1">Ingresar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form #formulario="ngForm" (ngSubmit)="onSubmit()">

    <ion-item>
      <ion-label>Correo: </ion-label>
      <ion-input type="email" placeholder="Email"
                 name="correoAlumno" value="" [(ngModel)]= "usuarioAlumno.email"
                 required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Contraseña: </ion-label>
      <ion-input type="password"	 placeholder="Contraseña"
                 name="password" value="" [(ngModel)]= "usuarioAlumno.password"
                 required>
      </ion-input>
    </ion-item>

    <ion-button [disabled] ="formulario.invalid"
            type="submit" expand="block" routerLink="/inicioalumno" class="ib">
      Iniciar sesion
    </ion-button>

  </form>


</ion-content>
